<h1>Студія краси Гончарук Олени Петрівни</h1>
<p>tel:<a href="tel:+380993583590">80993583590</a></p>

<p>email:<a href="mailto:krevaxer@ukr.net">krevaxer@ukr.net</a></p>

<div>
  <h2>Beauty procedures</h2>
  <div class="flex">
    <div><img src="" alt="manikiur" /><br /><span>manikiur</span></div>
    <div><img src="" alt="pedikiur" /><br /><span>pedikiur</span></div>
    <div><img src="" alt="brovi" /><br /><span>brovi</span></div>
    <div><img src="" alt="vii" /><br /><span>vii</span></div>
  </div>
</div>
<div>
  <h2>Pedologia</h2>
  <div class="flex">
    <div><img src="" alt="vrosli nigti" /><br /><span>vrosli nigti</span></div>
    <div><img src="" alt="mozoli" /><br /><span>mozoli</span></div>
    <div><img src="" alt="borodavki" /><br /><span>borodavki</span></div>
    <div><img src="" alt="add" /><br /><span>add</span></div>
    <div><img src="" alt="add" /><br /><span>add</span></div>
    <div><img src="" alt="add" /><br /><span>add</span></div>
  </div>
</div>
<div>
  <h2>Rewies</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d630.9516975428583!2d25.362464429264733!3d50.76061614705164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47259752c5071de3%3A0x5995de283f953e82!2sSobornosti%20Ave%2C%2028%2C%20Luts&#39;k%2C%20Volyns&#39;ka%20oblast%2C%2043000!5e0!3m2!1sen!2sua!4v1639558113449!5m2!1sen!2sua"
    width="400"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</div>

<router-outlet></router-outlet>
